@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------- */
/* Elegant Slim Scrollbar    */
/* ------------------------- */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(249, 115, 22, 0.45);
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(234, 88, 12, 0.75);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(249, 115, 22, 0.55) transparent;
}


@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease forwards;
}

@keyframes slideRightSoft {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideRightSoft {
  animation: slideRightSoft 0.35s ease-out;
}